:root {
  --text-color: #141414;
}

body {
  background-color: #f7f9f9;
  margin: 0;
  margin: 30px;
  font-family: Roboto;
}

#title {
  color: var(--text-color);
  font-size: 36px;
  line-height: 52px;
  margin-top: 20px;
  font-weight: 900;
}

#version {
  color: #626567;
  font-size: 10px;
  line-height: 8px;
  margin-bottom: 30px;
  font-weight: 100;
}

#message {
  color: var(--text-color);
  font-size: 24px;
  margin-bottom: 30px;
}